@import "vars";
@import "fonts";
@import "icons";
@import "libs";
//Parts
@import "parts/buttons";
@import "parts/typography";

// Blocks
@import "blocks/loader";
@import "blocks/header";
@import "blocks/first-screen";
@import "blocks/second-screen";
@import "blocks/third-screen";
@import "blocks/fourth-screen";
@import "blocks/fifth-screen";
@import "blocks/sixth-screen";
@import "blocks/main-form";
@import "blocks/footer";
@import "blocks/popup";

body {
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden !important;
  background-color: #fff;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 30;
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 30;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}

.popup-open {
  display: block;
}
.anchor {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
