$default-font: "Montserrat", sans-serif;
$ibm-font: "IBM Plex Sans", sans-serif;

$black: #333333;
$grey: #4a4d52;
$lightgrey: #828282;
$white: #fff;
$orange: #ef7575;
$blue: #8a99c4;
$darkblue: #465ea2;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$gutter: $grid-gutter-width;
