<div class="footer">
  <div class="footer_left">
    <a href="/" class="logo "></a>
    <div class="footer_left_container">
      <div class="copyright">
        © Copyright 2019.
      </div>
      <div class="info-list">
        <li class="info-item">
          Тел: +380 (99) 082 11 56
        </li>
        <li class="info-item">
          Email: mdi.agency@gmail.com
        </li>
        <li class="info-item">
          Telegram: @mdiagency
        </li>
        <li class="info-item">
          <a href="#">Публичная оферта</a>
        </li>
        <li class="info-item">
          <a href="#">Политика конфиденциальности</a>
        </li>
      </div>
      <div class="social footer-left-social">
        <a href="/" class="social_item instagram"></a><a href="/" class="social_item telegram"></a>
      </div>
    </div>
  </div>
  <div class="footer_right">
    <div class="social">
      <a href="/" class="social_item instagram"></a><a href="/" class="social_item telegram"></a>
    </div>
  </div>
</div>
