<div class="header sticky">
  <a href="/" class="logo"></a>
  <div class="nav">
    <a href="#third" class="a nav_item anchor">Чек-лист</a>
    <a href="#second" class="a nav_item anchor">Топ 5</a>
    <a href="#fourth" class="a nav_item anchor">Примеры шапок</a>
    <a href="#fifth" class="a nav_item anchor">Услуги</a>
    <a href="#sixth" class="a nav_item anchor">Контакты</a>
  </div>
</div>
<div class="mobile-header sticky">
  <div class="mobile-header_top">
    <a href="/" class="logo"></a>
    <div class="burger-button "></div>
  </div>
  <div class="mobile-header_content">
    <div class="mobile-header_list">
      <a href="#second" class="mobile-header_item anchor"
        >Топ 5 ошибок блогера</a
      >
      <a href="#third" class="mobile-header_item anchor">Чек-лист</a>
      <a href="#fourth" class="mobile-header_item anchor">Примеры шапок</a>
      <a href="#fifth" class="mobile-header_item anchor">Услуги</a>
      <a href="#sixth" class="mobile-header_item anchor">Контакты</a>
    </div>
    <div class="mobile-header_social">
      <div class="mobile-header_social_title">follow me</div>
      <div class="mobile-header_socilal_list">
        <a href="" class="mobile-header_social_list-item telegram"></a
        ><a href="" class="mobile-header_social_list-item instagram"></a>
      </div>
    </div>
  </div>
</div>
