<div class="overlay">
  <div id="smallForm" class="popup">
    <div class="popup_content">
      <div class="close-cross"></div>
      <div class="popup_title">Оставьте заявку</div>
      <div class="popup_subtitle">
        и получите полное видео “Топ 5 ошибок блогера
      </div>
      <form action="" class="popup_form">
        <input type="text" placeholder="Имя" />
        <input type="text" placeholder="Номер телефона или логин инсты" />
        <button class="submit-button">Отправить</button>
      </form>
    </div>
  </div>
  <div id="mainForm" class="popup">
    <div class="popup_content">
      <div class="close-cross"></div>
      <div class="popup_title">Оставьте заявку</div>
      <div class="popup_subtitle">
        и получите полное видео “Топ 5 ошибок блогера
      </div>
      <form action="" class="popup_form main-form">
        <div class="input-field">
          <input required type="text" placeholder="Имя" />
        </div>
        <div class="input-field">
          <input required type="text" placeholder="Телефон или логин инсты" />
        </div>
        <div class="input-field">
          <select id="services">
            <option id="option1" data-value="100">Услуга 1</option>
            <option id="option2" data-value="500">Услуга 2</option>
            <option id="option3" data-value="100500">Услуга 3</option>
          </select>
        </div>
        <div class="input-field">
          <label for="servicePrice">
            Сумма (RUB):
          </label>
          <input id="servicePrice" required type="number" readonly />
        </div>
        <button type="submit" class="submit-button">
          Отправить
        </button>
      </form>
    </div>
  </div>
</div>
