.action-button,
.anchor-button {
  width: 250px;
  height: 65px;
  background: #8a99c4;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 0 5px;
  color: $white;
  cursor: pointer;
  &:hover {
    background: #465ea2;
    box-shadow: 0px 4px 15px rgba(70, 94, 161, 0.5);
    color: $white;
  }
  @media (max-width: 991px) {
    max-width: 193px;
    height: 45px;
    margin: 0 auto;
  }
}

.outline-button {
  width: 250px;
  height: 50px;
  background: $white;
  border: 3px solid $blue;
  color: $blue;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.16em;
  cursor: pointer;
  .icon {
    width: 15px;
    height: 16px;
    background-image: url(../../img/arrow-small.svg);
    margin-left: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover {
    color: #465ea2;
    border: 3px solid #465ea2;
    box-shadow: 0px 4px 15px rgba(70, 94, 161, 0.5);
    .icon {
      background-image: url(../../img/arrow-small-hover.svg);
    }
  }
  @media (max-width: 991px) {
    width: 193px;
    height: 45px;
  }
}

.submit-button {
  width: 220px;
  height: 65px;
  background: $orange;
  color: $white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: $orange;
    background: $white;
    border: 1px solid $orange;
  }
  @media (max-width: 991px) {
    width: 100%;
    max-width: 290px;
  }
}
