.title {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black;
  width: 100%;
  @media (max-width: 1357px) {
    font-size: 40px;
    line-height: auto;
  }
  @media (max-width: 1200px) {
    font-size: 30px;
    line-height: auto;
  }
  @media (max-width: 991px) {
    line-height: 38px;
  }
}
