.fifth-screen {
  padding: 90px 220px 160px 220px;
  .influencer {
    font-weight: 900;
    font-size: 55px;
    color: $white;
    transform: rotate(-90deg);
    text-shadow: -1px 0 #c0cbec, 0 1px #c0cbec, 1px 0 #c0cbec, 0 -1px #c0cbec;
    text-transform: uppercase;
    position: absolute;
    top: calc(50%);
    left: calc(50% - 187px);
  }
  &_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  &_left,
  &_right {
    max-width: 480px;
  }
  &_right {
    margin-top: 45px;
  }
  &_subtitle {
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    color: $orange;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
  }
  &_text {
    margin: 30px 0;
    font-size: 18px;
    line-height: 30px;
    color: $grey;
  }
  &_price {
    margin: 20px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    &_title {
      color: $grey;
      font-size: 24px;
      font-family: $ibm-font;
      margin-bottom: 12px;
      width: 100%;
    }
    &_old {
      color: $lightgrey;
      font-size: 24px;
      text-decoration-line: line-through;
      font-family: $ibm-font;
    }
    &_new {
      color: $grey;
      font-weight: 600;
      font-size: 35px;
      margin-right: 30px;
      font-family: $ibm-font;
    }
  }
  @media (max-width: 1357px) {
    &_subtitle {
      font-size: 16px;
      line-height: auto;
    }
    &_right,
    &_left {
      width: unquote("calc(50% - 15px)");
    }
    &_left {
      margin-top: 40px;
    }
    &_right {
      margin-top: 60px;
    }
  }
  @media (max-width: 1200px) {
    &_title {
      font-size: 30px;
      line-height: auto;
    }
    padding: 130px 115px 30px 70px;
  }
  @media (max-width: 1462px) {
    .influencer {
      display: none;
    }
  }
  @media (max-width: 991px) {
    padding: 50px 15px;
    &_subtitle {
      justify-content: center;
      font-size: 18px;
    }
    &_text {
      font-size: 16px;
    }
    &_price {
      justify-content: center;
      &_title {
        text-align: center;
      }
    }
    &_content {
      flex-wrap: wrap;
      justify-content: center;
    }
    &_left,
    &_right {
      width: 100%;
      max-width: unset;
    }
  }
}

.hat-review,
.targeting-review {
  width: 480px;
  height: 250px;
  .review_right {
    .review_desc {
      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $blue;
      }
    }
  }

  @media (max-width: 991px) {
    width: 100%;
  }
}
.review-bg {
  background-color: rgba(56, 72, 216, 0.06);
}
.review {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-right: 0;
  &_image {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &_right {
    margin-left: 20px;
  }
  &_name {
    color: $grey;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: $ibm-font;
  }
  &_desc {
    color: $grey;
    font-size: 16px;
    line-height: 30px;
    max-height: 90px;
    overflow: auto;
    padding-right: 25px;
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
  @media (max-width: 991px) {
    padding: 23px 0 40px 5px;
    height: auto;

    &_image {
      height: 65px;
      width: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &_right {
      margin-left: 15px;
    }
    &_name {
      color: $grey;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
      font-family: $ibm-font;
    }
    &_desc {
      color: $grey;
      font-size: 16px;
      line-height: 30px;
      max-height: 90px;
      overflow: auto;
      padding-right: 25px;
    }
  }
}
.owl-dots {
  width: 100%;
  text-align: center;
  .owl-dot {
    span {
      display: none !important;
    }
    border-radius: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #8a99c4;
    margin: 0 15px !important;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    background: $blue;
  }
}
