.first-screen {
  min-height: 700px;
  width: 100%;
  padding: 175px 150px 30px 205px;
  display: flex;
  justify-content: space-between;
  background-image: url(../../img/background1.jpg);
  position: relative;
  .influence-time {
    position: absolute;
    top: 339px;
    left: -106px;
    font-weight: 900;
    font-size: 55px;
    color: $white;
    transform: rotate(-90deg);
    text-shadow: -1px 0 #c0cbec, 0 1px #c0cbec, 1px 0 #c0cbec, 0 -1px #c0cbec;
    text-transform: uppercase;
  }
  &_left {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_title {
    color: $black;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 20px;
  }
  &_subtitle {
    color: $grey;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &_social {
    color: $blue;
    font-size: 15px;
    display: flex;
    align-items: center;
    &_item {
      height: 16px;
      width: 16px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-left: 30px;
      &:first-child {
        margin-left: 45px;
      }
    }
    .instagram {
      background-image: url("../../img/inst.svg");
    }
    .telegram {
      background-image: url("../../img/tg.svg");
    }
  }
  &_right {
    &_image-block {
      border: 2px solid #8a99c4;
      transform: translate(50px);
    }
    &_image {
      height: 497px;
      width: 497px;
      background-image: url("../../img/hat.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 128px 24px 128px rgba(28, 65, 84, 0.16),
        64px 12px 64px rgba(28, 65, 84, 0.12),
        24px 8px 24px rgba(28, 65, 84, 0.12),
        12px 4px 12px rgba(28, 65, 84, 0.08);
      transform: translate(-50px, -50px);
    }
  }
  @media (max-width: 1357px) {
    &_title {
      font-size: 40px;
      line-height: auto;
    }
    &_subtitle {
      font-size: 16px;
      line-height: auto;
    }
  }
  @media (max-width: 1200px) {
    &_title {
      font-size: 30px;
      line-height: auto;
    }
    padding: 175px 130px 30px 100px;
  }
  @media (max-width: 1207px) {
    .influence-time {
      display: none;
    }
  }
  @media (max-width: 991px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    padding: 95px 15px 30px 15px;
    justify-content: flex-end;
    min-height: unset;
    .mini-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &_social {
      margin-top: 50px;
    }
    &_title {
      font-size: 30px;
      line-height: 38px;
      text-align: center;
    }
    &_subtitle {
      width: 100%;
      min-width: 290px;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
    }
    &_left {
      margin-top: 30px;
    }
    &_right {
      &_image-block {
        border: 2px solid #8a99c4;
        transform: translate(20px);
      }
      &_image {
        height: 209px;
        width: 209px;
        background-image: url("../../img/hat.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 128px 24px 128px rgba(28, 65, 84, 0.16),
          64px 12px 64px rgba(28, 65, 84, 0.12),
          24px 8px 24px rgba(28, 65, 84, 0.12),
          12px 4px 12px rgba(28, 65, 84, 0.08);
        transform: translate(-20px, -20px);
      }
    }
  }
}
