.footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 293px 0 186px;
  border-top: 1px solid #bdbdbd;
  &_left {
    display: flex;
    align-items: center;
    height: 100%;
    &_container {
      display: flex;
      border-left: 1px solid #bdbdbd;
      padding: 20px 0;
    }
    .logo {
      min-width: 120px;
      height: 41px;
      background-image: url(../../img/logo.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 22px;
    }
    .copyright {
      font-size: 14px;
      color: $black;
      display: flex;
      align-items: center;
      flex: none;
      margin: 0 30px;
    }
    .social {
      width: 100%;
      justify-content: center;
      &_item {
        width: 16px;
        height: 17px;
        margin-left: 30px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &:first-child {
          margin-left: 0;
        }
      }
      .telegram {
        background-image: url(../../img/tg.svg);
      }
      .instagram {
        background-image: url(../../img/inst.svg);
      }
    }
  }
  &_right {
    margin-left: auto;
    padding-left: 20px;
    .social {
      display: flex;
      &_item {
        width: 16px;
        height: 17px;
        margin-left: 30px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        &:first-child {
          margin-left: 0;
        }
      }
      .telegram {
        background-image: url(../../img/tg.svg);
      }
      .instagram {
        background-image: url(../../img/inst.svg);
      }
    }
  }
  .footer-left-social {
    display: none;
  }
  .info-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .info-item {
      line-height: 40px;
      white-space: nowrap;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 1060px) {
    padding: 0 100px;
  }
  @media (max-width: 991px) {
    padding: 0 15px;
    .footer-left-social {
      display: flex;
    }
    &_left {
      flex-grow: 1;
      flex-direction: column;
      padding: 30px 0 0;
      &_container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        border: none;
        padding: 30px 0;
        .copyright {
          margin: 0;
          margin-bottom: 20px;
        }
        .info-list {
          margin: 0;
          flex-direction: column;
          align-items: center;
          .info-item {
            margin: 0;
          }
        }
        .social {
          margin-top: 20px;
        }
      }
      .logo {
        margin: 0;
      }
    }
    &_right {
      display: none;
    }
  }
}
