.fourth-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 130px 215px 70px 150px;
  background-image: url(../../img/background2.png);

  &_right,
  &_left {
    width: unquote("calc(50% - 70px)");
  }
  &_left {
    margin-top: 90px;
  }
  &_right {
    margin-top: 115px;
    max-width: 575px;

    &_subtitle {
      height: 60px;
      display: flex;
      align-items: center;
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
      color: $orange;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 20px;
    }
    &_text {
      margin-top: 30px;
      font-size: 18px;
      line-height: 30px;
      color: $grey;
    }
    &_price {
      margin: 20px 0 30px 0;
      display: flex;
      align-items: flex-end;
      &_old {
        color: $lightgrey;
        font-size: 24px;
        text-decoration-line: line-through;
        font-family: $ibm-font;
      }
      &_new {
        color: $grey;
        font-weight: 600;
        font-size: 35px;
        margin-right: 30px;
        font-family: $ibm-font;
      }
    }
  }
  @media (max-width: 1357px) {
    &_subtitle {
      font-size: 16px;
      line-height: auto;
    }
    &_right,
    &_left {
      width: unquote("calc(50% - 15px)");
    }
    &_left {
      margin-top: 40px;
    }
    &_right {
      margin-top: 60px;
    }
  }
  @media (max-width: 1200px) {
    &_title {
      font-size: 30px;
      line-height: auto;
    }
    padding: 130px 115px 30px 70px;
  }
  @media (max-width: 991px) {
    padding: 50px 15px;

    &_right,
    &_left {
      width: 100%;
    }
    &_left {
      margin-top: 40px;
    }
    &_right {
      margin-top: 60px;
      max-width: 100%;
      text-align: center;
      &_subtitle {
        justify-content: center;
        font-size: 18px;
      }
      &_text {
        font-size: 16px;
      }
      &_price {
        justify-content: center;
      }
    }
  }

  .hat-list {
    .owl-nav {
      .owl-prev {
        background-color: transparent;
        user-select: none;
        span {
          display: none;
        }
        width: 38px;
        height: 23px;
        position: absolute;
        background-image: url(../../img/Arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        bottom: unquote("calc(50% - 12px)");
        left: -75px;
        top: unset;
        margin-top: 0;
        transform: rotate(180deg);
      }
      .owl-next {
        background-color: transparent;
        user-select: none;
        span {
          display: none;
        }
        width: 38px;
        height: 23px;
        position: absolute;
        background-image: url(../../img/Arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        bottom: unquote("calc(50% - 12px)");
        right: -75px;
        top: unset;
        margin-top: 0;
      }
    }
    .owl-dots {
      line-height: 0.5;
      margin-top: 18px;
      display: flex;
      justify-content: center;
      .owl-dot {
        width: 13px;
        height: 13px;
        background: $white;
        margin-right: 10px;
        border: 1px solid #8a99c4;
        &:last-child {
          margin-right: 0;
        }
        :focus {
          outline: none;
        }
      }
      .active {
        background: $blue;
      }
    }
  }
}
