.header {
  padding: 0 150px 0 205px;
  height: 67px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  .logo {
    margin-right: 5px;
    width: 129px;
    height: 43px;
    min-width: 129px;
    min-height: 43px;
    background-image: url(../../img/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .nav {
    display: flex;
    height: 100%;
    align-items: center;
    &_item {
      height: 100%;
      padding: 0 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $blue;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      border-right: 2px solid $blue;
      &:first-child {
        border-left: 2px solid $blue;
      }
      &:hover {
        color: $darkblue;
      }
    }
  }

  @media (max-width: 1357px) {
    padding: 0 70px;
  }
  @media (max-width: 1150px) {
    &_item {
      padding: 0 25px;
    }
  }
  @media (max-width: 1001px) {
    &_item {
      padding: 0 15px;
    }
  }
  @media (max-width: 991px) {
    display: none;
  }
}

.mobile-header {
  display: none;
  z-index: 100;
  @media (max-width: 991px) {
    display: block;
    background-image: url(../../img/background1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &_top {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 25px 15px;
      z-index: 10;
    }
    .burger-button {
      height: 17px;
      width: 18px;
      background-image: url("../../img/burger.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .burger-button-active {
      height: 19px !important;
      width: 19px !important;
      background-image: url("../../img/menu-cross.svg") !important;
    }
    .logo {
      width: 75px;
      height: 25px;
      display: inline-block;
      min-width: 75px;
      min-height: 25px;
      background-image: url(../../img/logo.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &_content {
      background-image: url(../../img/background1.jpg);
      display: none;
      opacity: 0;
      z-index: 0;
      position: absolute;
      width: 100%;
      padding: 30px;
    }
    &_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    &_item {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 25px;
      :active {
        color: $black;
      }
    }
    &_item:last-child {
      margin-bottom: 0;
    }
    &_social {
      margin-top: 70px;
      text-align: center;
      &_title {
        font-size: 15px;
        line-height: 18px;
        color: $blue;
        margin-bottom: 20px;
      }
      &_list {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      &_list-item {
        width: 28px;
        height: 28px;
        background-size: contain;
        background-position: center;
        align-items: center;
        display: inline-block;
      }
      .telegram {
        margin-right: 25px;
        background-image: url("../../img/tg.svg");
      }
      .instagram {
        margin-left: 25px;
        background-image: url("../../img/inst.svg");
      }
    }
  }
}

.is-open {
  opacity: 1;
  z-index: 10;
  background-image: url(../../img/background1.jpg) !important;
  display: block;
}
