.main-form {
  flex-direction: column;
  .input-field {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    input {
      width: 350px;
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .jq-selectbox {
      text-align: left;
      width: 350px;
      height: 65px;
      margin: 0 auto;
      &__select {
        height: 100%;
        padding-left: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 0;
        box-shadow: none;
        background: #fff;
        &-text {
          height: 100%;
          display: flex;
          align-items: center;
          color: $grey;
        }
      }
      &__trigger {
        border-left: none;
        &-arrow {
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &__dropdown {
        border-radius: 0;
        li {
          padding: 15px;
          color: $grey;
          &.selected {
            color: #fff;
          }
          &:hover {
            color: #fff;
          }
        }
      }
      &.focused {
        .jq-selectbox__select {
          border: 1px solid #8a99c4;
        }
      }
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}
