.popup {
  display: none;
  position: absolute;
  width: 784px;
  min-height: 512px;
  max-height: 100vh;
  overflow: auto;
  background-image: url(../../img/background1.jpg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  padding: 60px 20px 70px 20px;
  &_content {
    text-align: center;
  }
  &_title {
    font-weight: 900;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $black;
  }
  &_subtitle {
    margin-top: 20px;
    color: $blue;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  &_form {
    max-width: 390px;
    margin: 0 auto;
    margin-top: 30px;
    input {
      width: 100% !important;
      height: 65px;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border: 1px solid #e0e0e0;
      background: $white;
      color: $black;
      font-family: $ibm-font;
      outline: none;
      margin-bottom: 20px;
      &::placeholder {
        color: $grey;
      }
      &:focus {
        border: 1px solid #8a99c4;
        outline: none;
      }
    }
    .jq-selectbox {
      width: 100% !important;
    }
    .submit-button {
      width: 100%;
      margin-top: 10px;
      max-width: unset;
    }
  }
  .close-cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    background-image: url("../../img/menu-cross.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  @media (max-width: 991px) {
    width: unquote("calc(100% - 30px)");
    margin: 0 auto;
    &_title {
      font-size: 30px;
      line-height: 38px;
    }
    .close-cross {
      top: 15px;
      right: 15px;
    }
    .submit-button {
      max-width: unset;
    }
  }
}
