.second-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 130px 215px 30px 150px;
  &_right,
  &_left {
    width: unquote("calc(50% - 70px)");
  }
  &_left {
    margin-top: 70px;
  }

  &_video {
    height: 375px;
    transform: translate(50px, -50px);
    box-shadow: 128px 24px 128px rgba(28, 65, 84, 0.16),
      64px 12px 64px rgba(28, 65, 84, 0.12),
      24px 8px 24px rgba(28, 65, 84, 0.12), 12px 4px 12px rgba(28, 65, 84, 0.08);
  }
  &_video-block {
    border: 2px solid #8a99c4;
    transform: translate(-50px, 50px);
  }
  &_right {
    max-width: 575px;
    margin-top: 90px;
    &_subtitle {
      height: 60px;
      display: flex;
      align-items: center;
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
      color: $orange;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 20px;
    }
    &_text {
      margin: 30px 0;
      font-size: 18px;
      line-height: 30px;
      color: $grey;
    }
  }
  @media (max-width: 1357px) {
    &_subtitle {
      font-size: 16px;
      line-height: auto;
    }
    &_right,
    &_left {
      width: unquote("calc(50% - 15px)");
    }
    &_left {
      margin-top: 40px;
    }
    &_right {
      margin-top: 60px;
    }
  }
  @media (max-width: 1200px) {
    &_title {
      font-size: 30px;
      line-height: auto;
    }
    padding: 130px 115px 30px 70px;
  }
  @media (max-width: 991px) {
    padding: 50px 15px;

    &_right,
    &_left {
      width: 100%;
    }
    &_left {
      margin-top: 40px;
      padding: 0 10px 0 30px;
    }

    &_video {
      transform: translate(20px, -20px);
    }
    &_video-block {
      transform: translate(-20px, 20px);
    }
    &_right {
      margin-top: 60px;
      max-width: 100%;
      text-align: center;
      &_subtitle {
        justify-content: center;
        font-size: 18px;
      }
      &_text {
        font-size: 16px;
      }
    }
  }
  @media (max-width: 600px) {
    &_video {
      height: 200px;
    }
    &_video-block {
      height: 200px;
    }
  }
  @media (max-width: 500px) {
    &_video {
      height: 142px;
    }
    &_video-block {
      height: 142px;
    }
  }
}
