.sixth-screen {
  padding: 90px 100px 165px 100px;
  background-image: url(../../img/background1.jpg);

  &_image {
    margin: 0 auto 100px;
    text-align: center;
    img {
      width: 60%;
      height: auto;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
  &_form-wrapper {
    text-align: center;
  }
  &_form-title {
    color: $black;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
  }
  &_form {
    max-width: 790px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    input {
      width: 250px;
      height: 65px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border: 1px solid #e0e0e0;
      background: $white;
      color: $black;
      font-family: $ibm-font;
      outline: none;
      &::placeholder {
        color: $grey;
      }
      &:focus {
        border: 1px solid #8a99c4;
        outline: none;
      }
    }
  }
  @media (max-width: 1357px) {
    &_subtitle {
      font-size: 16px;
      line-height: auto;
    }
    &_right,
    &_left {
      width: unquote("calc(50% - 15px)");
    }
    &_left {
      margin-top: 40px;
    }
    &_right {
      margin-top: 60px;
    }
  }
  @media (max-width: 1200px) {
    &_title {
      font-size: 30px;
      line-height: auto;
    }

    padding: 90px 70px 165px 70px;
  }
  @media (max-width: 991px) {
    padding: 75px 15px 50px;

    &_image {
      margin: 0 auto 40px auto;
    }
    &_form-title {
      font-size: 13px;
    }
    &_form {
      justify-content: center;
      flex-wrap: wrap;
      input {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
