.third-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 130px 215px 130px 150px;
  &_right,
  &_left {
    width: unquote("calc(50% - 20px)");
  }
  &_left {
    margin-top: 90px;
    max-width: 575px;
    z-index: 10;
    &_subtitle {
      height: 60px;
      display: flex;
      align-items: center;
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;
      color: $orange;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 20px;
    }
    &_text {
      margin-top: 30px;
      font-size: 18px;
      line-height: 30px;
      color: $grey;
    }
    &_price {
      margin: 20px 0 30px 0;
      display: flex;
      align-items: flex-end;
      &_old {
        color: $lightgrey;
        font-size: 24px;
        text-decoration-line: line-through;
        font-family: $ibm-font;
      }
      &_new {
        color: $grey;
        font-weight: 600;
        font-size: 35px;
        margin-right: 30px;
        font-family: $ibm-font;
      }
    }
  }
  &_right {
    margin-top: 115px;
  }
  @media (max-width: 1357px) {
    &_subtitle {
      font-size: 16px;
      line-height: auto;
    }
    &_right,
    &_left {
      width: unquote("calc(50% - 15px)");
    }
    &_left {
      margin-top: 40px;
    }
    &_right {
      margin-top: 60px;
    }
  }
  @media (max-width: 1200px) {
    &_title {
      font-size: 30px;
      line-height: auto;
    }
    padding: 130px 115px 30px 70px;
  }
  @media (max-width: 991px) {
    padding: 70px 15px 50px 15px;
    flex-direction: column-reverse;
    .title {
      order: 1;
    }
    &_right,
    &_left {
      width: 100%;
      z-index: 20;
    }
    &_left {
      margin-top: 60px;
      max-width: 100%;
      text-align: center;
      &_subtitle {
        justify-content: center;
        font-size: 18px;
      }
      &_text {
        font-size: 16px;
      }
      &_price {
        justify-content: center;
      }
    }
  }
}

.check-list {
  .owl-dots {
    display: none;
  }
  position: relative;

  .owl-stage-outer {
    overflow: inherit;
    .owl-item {
      opacity: 0;
    }
  }

  .active-slide {
    transform: scale(1.2);
    z-index: 10;
    transition: 500ms;
  }
  .owl-nav {
    .owl-prev {
      display: none;
    }
    .owl-next {
      background-color: transparent;
      user-select: none;
      span {
        display: none;
      }
      width: 38px;
      height: 23px;
      position: absolute;
      background-image: url(../../img/Arrow.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      left: 250px;
      bottom: -32px;
      right: 0;
      top: unset;
      margin-top: 0;
    }
  }
  .opacity-1 {
    opacity: 1 !important;
  }
  @media (max-width: 991px) {
    display: none !important;
  }
}

.check-list-mobile {
  .owl-dots {
    display: none;
  }
  display: none !important;
  @media (max-width: 991px) {
    display: block !important;
  }
}
